<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.pkkk.pkkk.repository.UserRepository">
	<insert id="saveUser" parameterMap="com.portfolio.pkkk.pkkk.entity.User">
		insert into user_mst
		value (0, #{user_Id})
	</insert>

</mapper>